body {
    margin: 0;
    background: linear-gradient(#fff685,#fbf15e)no-repeat fixed;
    padding: 50px 0px;
}
button.clear {
    background: #ff2a2a;
    color: #fff;
}

button.clear:hover {
    background: #fe8787;   
}
table {
    background: #fff685;
    padding: 7px 5px;
    border: 6px solid #00000000;
    text-align: center;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-top: 90px;
}
button.equal {
    width: 88%;
    background: #48c55b;
}
button.equal:hover{
	background: #5dac69;
}
input[type="text"] {
    width: 450px;
    height: 81px;
    border: 1px solid #fdc202;
    padding: 10px 20px;
    font-size: 29px;
    background: #fceb08;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #fff;
    border-bottom: 2px solid #ffb405;
    border-radius: 20px;
}
button {
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: none;
    color: #757474;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
	background: #b2b2b0;
}